

@font-face {
    font-family: 'ChicagoFLF';
    src: url('fonts/ChicagoFLF.ttf') format('truetype'); /* Safari, Android, iOS */
}


html {
    padding:0px;
    background-color: #666;
}

body {
    margin:0px;
    padding-top: 1em;
    padding-bottom: 1em;
    background: linear-gradiente(180deg, #666 0%, #444 100%);

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.pastilla {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #ddd;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
    border: 3px solid black;
}

p {
    font-family: 'Open Sans', sans-serif;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

h1,h2,h3 {
    padding-top:0px;
    padding-bottom: 0px;
    margin-top:0px;
    margin-bottom: 0px;
}


#ui-box {
    margin-top: 2em;
    padding-left: 5%;
    padding-right: 5%;

    display:block;
    width:100%;
    background-color:#731516;
    font-family: 'Open Sans', sans-serif;
}

#ui-box p {
  
    font-family: 'Open Sans', sans-serif;
    margin:0px;

    color: gray;
    text-shadow: 0 0 4px #222, 0 0 13px #333;
}

#ui-box b {
    background-color:black;
    border-radius: 0.2em;
    padding-left:0.2em;
    padding-right:0.2em;
}

#next-box {
    margin-top: 1em;
    padding-left: 5%;
    padding-right: 5%;
}

#next-box button {
    font-family: 'Open Sans', sans-serif;
    padding: 0.4em;
}

.arrow {
    border: solid red;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.mono p {
    font-family: 'Courier New', Courier, monospace!important;
}

h1,h2,h3 {
    font-size: 17px;
    color: rgb(39, 34, 34);
    font-family: 'ChicagoFLF', 'Times New Roman', 'Georgia', serif;
}

button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: normal;
    font-family: 'ChicagoFLF', 'Times New Roman', 'Georgia', serif;
}

a {
    color: #000;
}

/* ------------------------------------------- */


:root {
    --button-box-shadow:
	inset -1px -1px 0px 0px #777,
	inset -2px -2px 0px 0px #aaa,
	inset 1px 1px 0px 0px #ddd,
	inset 2px 2px 0px 0px #fff;
    --button-hover-bezel:
	0 0 0 1px #aaa,
	0 0 0 2px #ddd,
	0 0 0 3px #000;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

/* Window layout */
.pastilla2 {
    font-size: 12px;
    font-weight: normal;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #111;
    background: #ccc;
    box-shadow:
	1px 2px #111,
	inset 1px 1px 0px 0px #fff,
	inset -1px -1px 0px 0px #999;
}
.pastilla2 .inner {
    margin: 2px 4px 4px 4px;
    border: 1px solid #111;
    background-color: #ddd;
    box-shadow:
	-1px -1px 0px 0px #999,
	1px 1px 0px 0px #fff,
	inset 1px 1px 0px 0px #fff,
	inset -1px -1px 0px 0px #999;
}
.title {
    width: 100%;
    text-align: center;
    font-size: inherit;
    font-weight: inherit;
    padding: 1px 0;
    background-size: 3px 2px;
    margin: 0 0 0 0;
}
.pastilla2 .icon {
    text-align: center;
    margin: 1em 0;
}
.pastilla2 ul {
    list-style-type: none;
    margin: 2px 0 1.5em 0;
    padding: 0 0 0 2em;
    font-size: 12px;
}
.footer {
    width: 400px;
    text-align: center;
    margin: 2em auto 0;
    font-size: 12px;
}
.control-box {
    position: absolute;
    top: 3px;
    padding: 1px;
    background-color: #222;
    box-shadow:
	inset -1px -1px 0px 0px #fff,
	inset 1px 1px 0px 0px #888;
}
.close-box.control-box {
    left: 4px;
}
.control-box-inner {
    display: block;        
    height: 12px;
    width: 12px;
    background-image:
	linear-gradient(to bottom right, #999, #aaa, #bbb, #ccc, #ddd, #eee, #fff);
    border: 1px solid #222;
    box-shadow:
	inset 1px 1px 0px 0px #ccc,
	inset -1px -1px 0px 0px #888;
    text-indent: -99999em;
}
.control-box-inner:active {
    box-shadow: none;
}
.zoom-box.control-box {
    right: 20px;
}
.zoom-box-inner {
    height: 6px;
    width: 7px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}
.windowshade-box.control-box {
    right: 4px;
}
.windowshade-box-inner {
    margin-top: 3px;
    height: 3px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.pastilla2 .command_button {
    height: 22px;
    background-color: #dedede;
    display: inline-block;
    margin-bottom: 7px;
    margin-left: 14px;
    border-radius: 3px;
    border: 1px solid #000;
    box-shadow: var(--button-box-shadow);
}
.pastilla2 .command_button:hover {
    box-shadow:
	var(--button-box-shadow),
        var(--button-hover-bezel);
}
.pastilla2 .command_button:active {
    color: #fff;
    background-color: #666;
    box-shadow:
	var(--button-hover-bezel),
	inset -1px -1px 0px 0px #888,
	inset -2px -2px 0px 0px #777,
	inset 1px 1px 0px 0px #444,
	inset 2px 2px 0px 0px #555;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

#btn-next {
    font-family: 'ChicagoFLF', 'Times New Roman', 'Georgia', serif!important;
    border-radius: 4px;
}

.btn-reaction {
    margin-left:0.5em;
    margin-right: 0.5m;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.inner p {
    font-size: 16px;
}

.faction-stats p {
    display:inline-block;
}