

@font-face {
    font-family: 'ChicagoFLF';
    src: url('fonts/ChicagoFLF.ttf') format('truetype'); /* Safari, Android, iOS */
}


html {
    padding:0px;
    background-color: #204d58;
}

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
    font-size:0.9em;
    font-family: 'ChicagoFLF', 'Times New Roman', 'Georgia', serif;

    margin:0px;
    padding-top: 1em;
    padding-bottom: 1em;
    background: linear-gradiente(180deg, #204d58 0%, #444 100%);
    background-image: url(../img/bg3.png);
}


.intro {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1em;
    border-radius: 8px;
    border: 2px solid gray;
}

h1,h2,h3 {
    padding-top:0px;
    padding-bottom: 0px;
    margin-top:0px;
    margin-bottom: 0px;

    font-size: 18px!important;
    color: rgb(39, 34, 34);
    font-family: 'ChicagoFLF', 'Times New Roman', 'Georgia', serif;
    text-shadow: 0 0 5px #489171;
}


#btn-next {
    background-color: #95c9b0;
    padding: 0.4em;
    font-family: 'ChicagoFLF', 'Times New Roman', 'Georgia', serif!important;
    border-radius: 4px;
}


.pastilla {
    max-width: 60em;
    min-width: 40%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    
    display: inline-block;
    min-height: 100px;

    border-style: solid;
    border-width: 32px 32px 32px 32px;
    -moz-border-image: url(../img/b3x2.png) 32 32 32 32 repeat repeat;
    -webkit-border-image: url(../img/b3x2.png) 32 32 32 32 repeat repeat;
    -o-border-image: url(../img/b3x2.png) 32 32 32 32 repeat repeat;
    border-image: url(../img/b3x2.png) 32 32 32 32 repeat repeat;
}

.outbox {
    padding:0px;
    margin:0px;
    background-color: #357564;

    background-image: radial-gradient(
         rgba(0, 150, 0, 0.75),
         #357564 90%
      );

    max-height:100%;
}

.outbox p {
    margin:0px;

    margin-left: 0.5em;
    padding-top:0.4em;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}



.btn-reaction {
    margin-right: 0.5m;
    margin-top: 0.4em;
    font-size: 15px;
    /*margin-bottom: 0.4em; causaba que se rompe el calculo de tamaño*/
    background-color: transparent;
    border: 0px;
    color:#222;
    text-decoration: none;
    text-shadow: 1px 1px 0px rgba(5, 5, 5, 0.55);
}



.btn-reaction:hover {
    text-decoration: underline;
    animation:none;
    color:lime;
}

.title {
    width: 100%;
    text-align: center;
    font-size: inherit;
    font-weight: inherit;
    padding: 1px 0;
    background-size: 3px 2px;
    margin: 0 0 0 0;
}

.faction-stats p {
    display:inline-block;
}

.ocu {
    display:none!important;
}

hr {
    opacity: 0.4;
    margin-bottom:0px;
}

a.disabled {
  color: #aaa!important;
  color: white!important;
  text-decoration: none!important;
  
  background-color:  #265447;

  text-shadow: none;
  outline: 1px solid rgb(0, 43, 0);
  opacity: 0.8;
}

a.disabled:hover {
    color: #aaa!important;
}

.fullwidth {
    width:90%;
    display:block;
}

.next-link {
    font-family: 'ChicagoFLF', 'Times New Roman', 'Georgia', serif;

    font-size: 15px;
    background-color: transparent;
    border: 0px;
    color: lime;
    text-decoration: none;
}

.next-link:hover {
    color: white;
    text-decoration: underline;
}

.faction-pope {
    -moz-border-image: url(../img/bpope.png) 32 32 32 32 repeat repeat!important;
    -webkit-border-image: url(../img/bpope.png) 32 32 32 32 repeat repeat!important;
    -o-border-image: url(../img/bpope.png) 32 32 32 32 repeat repeat!important;
    border-image: url(../img/bpope.png) 32 32 32 32 repeat repeat!important;
}

.faction-CPU {
    -moz-border-image: url(../img/bcpu.png) 32 32 32 32 repeat repeat!important;
    -webkit-border-image: url(../img/bcpu.png) 32 32 32 32 repeat repeat!important;
    -o-border-image: url(../img/bcpu.png) 32 32 32 32 repeat repeat!important;
    border-image: url(../img/bcpu.png) 32 32 32 32 repeat repeat!important;
}

.faction-USA {
    -moz-border-image: url(../img/busa.png) 32 32 32 32 repeat repeat!important;
    -webkit-border-image: url(../img/busa.png) 32 32 32 32 repeat repeat!important;
    -o-border-image: url(../img/busa.png) 32 32 32 32 repeat repeat!important;
    border-image: url(../img/busa.png) 32 32 32 32 repeat repeat!important;
}

.faction-PC {
    -moz-border-image: url(../img/bpc.png) 32 32 32 32 repeat repeat!important;
    -webkit-border-image: url(../img/bpc.png) 32 32 32 32 repeat repeat!important;
    -o-border-image: url(../img/bpc.png) 32 32 32 32 repeat repeat!important;
    border-image: url(../img/bpc.png) 32 32 32 32 repeat repeat!important;
}